<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

	<property resource="log.properties"/>

	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_DIR:-logs/}mock-app.log}" />
	<property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${PID:- } [%t] %level: %-40.40logger{39}: %m%n%wex" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${PATTERN}</pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%i.zip</fileNamePattern>
			<maxIndex>${logging.max.index:-20}</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>${logging.max.size:-10MB}</maxFileSize>
		</triggeringPolicy>
	</appender>

	<!--UFS logs-->
	<logger name="com.example">
		<level value="INFO"/>
	</logger>

	<!--Spring logs-->
	<logger name="org.springframework">
		<level value="INFO"/>
	</logger>

    <root>
		<level value="ERROR" />
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
